<h2 mat-dialog-title>Szállás módosítása</h2>
<mat-dialog-content>
  <form>
    <mat-form-field appearance="fill">
      <mat-label>Cím</mat-label>
      <input matInput [(ngModel)]="accommodation.title" name="title" required />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Lokáció</mat-label>
      <input
        matInput
        [(ngModel)]="accommodation.location"
        name="location"
        required
      />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Ár (/éjszaka)</mat-label>
      <input
        matInput
        [(ngModel)]="accommodation.price"
        name="price"
        required
        type="number"
      />
    </mat-form-field>
  </form>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button (click)="onCancel()">Mégse</button>
  <button mat-button color="primary" (click)="onSave()">Mentés</button>
</mat-dialog-actions>
