<mat-nav-list class="navbar">
  <a mat-list-item routerLink="/"> <mat-icon>home</mat-icon>Home</a>

  <ng-container *ngIf="!isLoggedIn; else loggedInBlock">
    <a mat-list-item routerLink="/login">Login</a>
    <a mat-list-item routerLink="/register">Register</a>
  </ng-container>

  <ng-template #loggedInBlock>
    <a mat-list-item routerLink="/profile">
      <mat-icon>account_circle</mat-icon>Profile</a
    >
    <a mat-list-item routerLink="/createaccommodation">
      <mat-icon>add_circle</mat-icon>New accommodation</a
    >
    <button mat-list-item (click)="logout()">
      <mat-icon>key</mat-icon>Logout
    </button>
  </ng-template>
</mat-nav-list>
