<mat-card class="accommodation-card" (click)="onCardClick()">
  <img
    mat-card-image
    [src]="accommodation.imageUrl"
    alt="{{ accommodation.name }}"
  />
  <mat-card-title>{{ accommodation.title }}</mat-card-title>
  <mat-card-subtitle>{{ accommodation.location }}</mat-card-subtitle>
  <mat-card-content>
    <p>{{ accommodation.description }}</p>
    <p>
      <strong>{{ accommodation.price | currencyFormat : "HUF" }}</strong>
      / éj
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary" (click)="onReserveClick()">
      Lefoglalás
    </button>
  </mat-card-actions>
</mat-card>
